
.exportOptions {
  position: relative;
}

.export-icon {
  mask: url(file-arrow-down-solid.svg); /*https://fontawesome.com/license*/
  background: #fafafa;
  margin: 5px 10px 10px 5px;
  cursor: pointer;
  width: 3ch;
  height: 3ch;
  mask-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.dots:hover {
  background-color: rgb(82, 82, 82);
}

.exportOptionMenu {
  width: 200px;
  position: absolute;
  right: 0px;
  top: 40px;
  text-align: left;
  -moz-box-shadow:    -1px 0 5px 0 rgb(165, 165, 165);
  -webkit-box-shadow: -1px 0 5px 0 rgb(165, 165, 165);
  box-shadow:         1px 0 5px 0 rgb(165, 165, 165);
  border-radius: 9px;
  padding: 3px;
  background-color: white;
  z-index: 1000;
}

.optionLabel {
  background-color: white;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}

.optionLabel:hover {
  background-color: rgb(235, 235, 235);
}
